body {
  background-color: #ebebeb;
  line-height: 1.2em;

  .desktop_only {
    display: block;
  }
  .tablet_only {
    display: none;
  }

  article {

      &.block {
          background: white;

          .img {

            height: 200px;
            overflow: hidden;
            margin-bottom: 25px;

            img {
              min-width: 100%;
              min-height: 100%;
            }
          }

          .post-type {
              padding: 5px 15px 5px 25px;
              text-transform: uppercase;
              color: white;
              font-family: 'Titillium Web', sans-serif;
              display: inline;
              font-size: 14px;
              font-weight: 700;

              &.post {
                  background-color: #56ccc8;
              }
              &.dufilauweb_folder {
                  background-color: #e54a4a;
              }
          }

          &.block-large {

              .content {
                height: 225px;
                overflow: hidden;
              }

          }

          .content {
              font-family: 'Roboto', sans-serif;
              font-weight: 300;
              font-size: 14px;
              color: #475055;
              padding: 25px;
              height: 240px;
              overflow: hidden;
              position: relative;

              h1 {
                  font-weight: 500;
                  font-size: 20px;
                  margin: 10px 0 20px 0;
                  line-height: 1.2em;
              }

              time {
                  font-weight: 300;
                  font-size: 12px;
                  color: #a3abaf;
                  margin: 0 0 20px 0;
                  display: block;
              }

              .excerpt {
                  .read-more {
                    display: block;
                    color: #ea6060;
                    text-decoration: none;
                    margin: 20px 0 20px 0;
                  }
              }

              .meta {
                  position: absolute;
                  bottom: 25px;
                  padding-right: 25px;

                  > span {
                      padding-right: 20px;
                      font-size: 12px;

                      > span {
                          padding-right: 2px;
                          color: #56ccc8;
                      }
                  }
              }
          }
      }
  }

  .pagination {
      text-align: center;
      margin-top: 1.815%;
      a {
          text-decoration: none;
      }

      &.post {
          a, span {
            color: #ea6060;
            font-family: 'Titillium Web', sans-serif;
            font-weight: 700;
            font-size: 18px;
            vertical-align: middle;
            padding: 2px 9px 2px 9px;

            &:first-child {
                margin-left: 0;
            }

            &.next, &.prev {
                vertical-align: top;
            }

            &.current {
                background-color: #ea6060;
                color: white;
            }
          }
      }
  }

  .breadcrumb {
      padding: 5px 3.63% 5px 3.63%;
      background-color: #56ccc8;
      color: white;
      display: inline;

      li, a{
        text-transform: uppercase;
        color: white;
        font-family: 'Titillium Web', sans-serif;
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
      }
      ul {
          display: inline;
          li {
              display: inline;
          }
      }
  }

  &.single-dufilauweb_folder {
    .breadcrumb {
      background-color: #e54a4a;
    }
  }

}

@media only screen and (max-width: 930px) {
  body {
      article {
          &.block {
              .content {
                  height: 260px;
              }
          }
      }
  }
}

@media only screen and (max-width: $tablet) {

  body {
    .desktop_only {
      display: none;
    }
    .tablet_only {
      display: block;
    }

    article {
      &.block {
        .content {
          height: 240px;
        }

        &.block-large {
            .content {
              height: 345px;
            }
        }
      }
    }
  }
}